{% extends "index.html" %}

{% block body %}
<div style="background-image: url('https://i.pinimg.com/originals/1a/40/9f/1a409feac204d9f5ba5561e0212d0ae6.jpg'); height: 100vh;">
  <div class="container-sm h-100">
    <div class="row justify-content-center">
      <div class="col-sm-9 p-5">
        <form method="POST" class="card p-5">
          <div class="form-group">
            <div class="d-grid col-6 mx-auto">
                <input type="text" class="form-control input-group-lg" name="city" placeholder="Your City">
                <div style="height:15px"></div>
                <button class="btn btn-primary btn-lg" type="submit">Get Weather</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
